body{
    background: url(log.jpg) fixed;
    background-size: cover;
    padding:0;
    margin:0;
}
.vid-container{
    position:relative;
    height:75vh;
    overflow:hidden;
}
.bgvid.back {
    position: fixed; right: 0; bottom: 0;
    min-width: 100%; min-height: 100%;
    width: auto; height: auto; z-index: -100;
}
.inner {
    position: absolute;
}
.inner-container{
    width:400px;
    height:400px;
    position:absolute;
    top:calc(50vh - 200px);
    left:calc(50vw - 200px);
    overflow:hidden;
}

.login{
    position:absolute;
    height:100%;
    width:100%;
    font-family:Helvetica;
    color:white;
    background:rgba(133, 133, 133);
    padding:15px 0px;
    /*border: 1000;*/
}
.login h1{
    color: white;
    text-align:center;
    margin:30px 0;
    font-size:30px;
}
.login input{
    font-size: 17px;
    display:block;
    width:300px;
    margin:20px auto;
    padding: 5px;
    background:rgba(0,0,0,0.2);
    color: white;
    border:0;
}
.login input:focus,.login input:active,.login button:focus,.login button:active{
    outline:none;
}
.login button{
    background: rgb(192, 192, 192);
    border:0;
    color: white;
    padding:6px;
    font-size:20px;
    width:120px;
    margin:20px auto;
    display:block;
    cursor:pointer;
    letter-spacing: 3px;
}
.login button:active{
    background:#27ae60;
}
.login p{
    font-size:20px;
    text-align:center;
    color: white;
}
.login p span{
    cursor:pointer;
    color:darkgrey;
}
